*~
.\#*
\#*#
autom4te.cache
TAGS
*.pyc
/build-stamp
/debian/files
/debian/*.substvars
/debian/*.debhelper.log
/configure-stamp
/debian/libzephyr-dev/*
/debian/*.debhelper
/debian/libzephyr-python/*
/debian/libzephyr4-krb/*
/debian/libzephyr4-krb45/*
/debian/libzephyr4-krb5/*
/debian/libzephyr4/*
/debian/tmp-krb5/*
/debian/tmp/*
/debian/zephyr-clients/*
/debian/zephyr-server-krb/*
/debian/zephyr-server-krb45/*
/debian/zephyr-server-krb5.README.Debian
/debian/zephyr-server-krb5.docs
/debian/zephyr-server-krb5.files
/debian/zephyr-server-krb5.postinst
/debian/zephyr-server-krb5.postrm
/debian/zephyr-server-krb5.templates
/debian/zephyr-server-krb5/*
/debian/zephyr-server/*
/krb5/*
/no-krb/*
/debian/libzephyr4-krb5.files
aclocal.m4
configure
h/config.h.in
ltmain.sh
m4
config.guess
config.sub
libtool
install-sh
config.log
config.status
*.o
*.lo
*.la
/lib/zephyr_err.c
/lib/zephyr_err.h
/server/zsrv_err.c
/server/zsrv_err.h
.libs
Makefile
/server/test_server
/server/zephyrd
/server/zephyrd.8
/zhm/zhm
/zhm/zhm.8
/zwgc/char_stack.h
/zwgc/int_dictionary.c
/zwgc/int_dictionary.h
/zwgc/pointer_dictionary.c
/zwgc/pointer_dictionary.h
/zwgc/port_dictionary.c
/zwgc/port_dictionary.h
/zwgc/string_dictionary.c
/zwgc/string_dictionary.h
/zwgc/string_stack.h
/zwgc/unsigned_long_dictionary.c
/zwgc/unsigned_long_dictionary.h
/zwgc/xmode_stack.h
/zwgc/y.tab.c
/zwgc/y.tab.h
/zwgc/zwgc
/zwgc/zwgc.1
/clients/zaway/zaway
/clients/zctl/zctl
/clients/zctl/zctl.1
/clients/zctl/zctl_cmds.c
/clients/zleave/zleave
/clients/zlocate/zlocate
/clients/znol/znol
/clients/zshutdown_notify/zshutdown_notify
/clients/zstat/zstat
/clients/zwrite/zwrite
/h/config.h
/h/zephyr/zephyr_err.h
/h/zephyr_version.h
