*~
.\#*
\#*#
autom4te.cache
TAGS
*.pyc
/build-stamp
/debian/files
/debian/*.substvars
/debian/*.debhelper.log
/configure-stamp
/debian/libzephyr-dev/*
/debian/*.debhelper
/debian/libzephyr-python/*
/debian/libzephyr4-krb/*
/debian/libzephyr4-krb45/*
/debian/libzephyr4-krb5/*
/debian/libzephyr4/*
/debian/tmp-krb5/*
/debian/tmp/*
/debian/zephyr-clients/*
/debian/zephyr-server-krb/*
/debian/zephyr-server-krb45/*
/debian/zephyr-server-krb5.README.Debian
/debian/zephyr-server-krb5.docs
/debian/zephyr-server-krb5.files
/debian/zephyr-server-krb5.init
/debian/zephyr-server-krb5.postinst
/debian/zephyr-server-krb5.postrm
/debian/zephyr-server-krb5.templates
/debian/zephyr-server-krb5/*
/debian/zephyr-server/*
/krb5/*
/no-krb/*
/debian/libzephyr4-krb5.files
