Source: zephyr
Section: non-us/main
Priority: optional
Maintainer: Karl Ramm <kcr@1ts.org>
Build-Depends: debhelper, libares-dev, libkrb5-dev, comerr-dev, ss-dev, libreadline4-dev, xlibs-dev | xlib6g-dev, libxaw-dev|xlib6g-dev, libncurses5-dev, bison
Standards-Version: 3.1.1

Package: libzephyr3
Architecture: any
Depends: ${shlibs:Depends}
Description: The original "Instant Message" system libraries without Kerberos
 This is the Project Athena Zephyr notification system 2000/04/21 snapshot.
 Zephyr allows users to send messages to other users or to groups of
 users.  Users can view incoming Zephyr messages as windowgrams
 (transient X windows) or as text on a terminal.

Package: libzephyr3-krb
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libzephyr3
Provides: libzephyr3
Description: The original "Instant Message" system libraries with Kerberos 
 This is the Project Athena Zephyr notification system 2000/04/21 snapshot.
 Zephyr allows users to send messages to other users or to groups of
 users.  Users can view incoming Zephyr messages as windowgrams
 (transient X windows) or as text on a terminal.

Package: zephyr-clients
Replaces: zephyr-client
Architecture: any
Depends: ${shlibs:Depends}, debianutils (>= 1.6)
Description: The original "Instant Message" system client
 This is the Project Athena Zephyr notification system 2000/04/21 snapshot.
 Zephyr allows users to send messages to other users or to groups of
 users.  Users can view incoming Zephyr messages as windowgrams
 (transient X windows) or as text on a terminal.

Package: zephyr-server
Architecture: any
Depends: ${shlibs:Depends}
Description: The original "Instant Message" system-server without Kerberos
 This is the Project Athena Zephyr notification system 2000/04/21 snapshot.
 Zephyr allows users to send messages to other users or to groups of
 users.  Users can view incoming Zephyr messages as windowgrams
 (transient X windows) or as text on a terminal.

Package: zephyr-server-krb
Architecture: any
Depends: ${shlibs:Depends}, libzephyr3-krb
Conflicts: zephyr-server
Description: The original "Instant Message" system-server with Kerberos
 This is the Project Athena Zephyr notification system 2000/04/21 snapshot.
 Zephyr allows users to send messages to other users or to groups of
 users.  Users can view incoming Zephyr messages as windowgrams
 (transient X windows) or as text on a terminal.

Package: libzephyr-dev
Architecture: any
Depends: libc6-dev
Description: The original "Instant Message" system development libraries
 This is the Project Athena Zephyr notification system 2000/04/21 snapshot.
 Zephyr allows users to send messages to other users or to groups of
 users.  Users can view incoming Zephyr messages as windowgrams
 (transient X windows) or as text on a terminal.

Package: zephyr-client
Depends: zephyr-clients, libzephyr3-krb
Priority: extra
Architecture: all
Description: Phased upgrade package from kcr's earlier build
 This package should make your life easier if you are using the earlier Zephyr packages; 
 it will install the Kerberized versions of Zephyr.
 You can remove once installed.
