Source: zephyr
Section: net
Priority: optional
Maintainer: Karl Ramm <kcr@debian.org>
Uploaders: Sam Hartman <hartmans@debian.org>
Build-Depends: debhelper (>= 5), libc-ares-dev, libkrb5-dev (>= 1.2.2-4), comerr-dev, ss-dev,
               libreadline5-dev, libx11-dev, libxt-dev, x11proto-core-dev, libncurses5-dev,
	       bison, libhesiod-dev, autotools-dev, python (>= 2.5)
Standards-Version: 3.8.1.0
Homepage: http://zephyr.1ts.org/
Vcs-Svn: svn://zephyr.1ts.org/trunk/zephyr
Vcs-Browser: http://zephyr.1ts.org/browser/trunk/zephyr
XS-Python-Version: 2.5

Package: libzephyr4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libzephyr4-krb, libzephyr4-krb5, libzephyr4-krb45
Description: Project Athena's notification service - non-Kerberos libraries
 Zephyr is derived from the original Project Athena 'Instant Message' system
 and allows users to send messages to other users or to groups of users.
 Users can view incoming Zephyr messages as windowgrams (transient X
 windows) or as text on a terminal.
 .
 This package provides the libraries without Kerberos support.

Package: libzephyr4-krb
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, krb4-config
Conflicts: libzephyr4, libzephyr4-krb5, libzephyr4-krb45
Replaces: libzephyr4, libzephyr4-krb5, libzephyr4-krb45
Provides: libzephyr4
Description: Project Athena's notification service - libraries with Kerberos
 Zephyr is derived from the original Project Athena 'Instant Message' system
 and allows users to send messages to other users or to groups of users.
 Users can view incoming Zephyr messages as windowgrams (transient X
 windows) or as text on a terminal.
 .
 This package provides libraries that use Kerberos.

Package: libzephyr4-krb5
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, krb5-config
Conflicts: libzephyr4, libzephyr4-krb, libzephyr4-krb45
Replaces: libzephyr4, libzephyr4-krb, libzephyr4-krb45
Provides: libzephyr4
Description: The original "Instant Message" system libraries with Kerberos 5
 This version of the library uses Kerberos for message authentication.
 .
 This is the Project Athena Zephyr notification system.
 Zephyr allows users to send messages to other users or to groups of
 users.  Users can view incoming Zephyr messages as windowgrams
 (transient X windows) or as text on a terminal.

Package: libzephyr4-krb45
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, krb5-config
Conflicts: libzephyr4, libzephyr4-krb, libzephyr4-krb5
Replaces: libzephyr4, libzephyr4-krb, libzephyr4-krb5
Provides: libzephyr4
Description: The original "Instant Message" system libraries with Kerberos 4+5
 This version of the library uses Kerberos for message authentication.
 .
 This is the Project Athena Zephyr notification system.
 Zephyr allows users to send messages to other users or to groups of
 users.  Users can view incoming Zephyr messages as windowgrams
 (transient X windows) or as text on a terminal.

Package: libzephyr-python
Section: python
Architecture: any
Depends: ${python:Depends}, libzephyr4
Provides: ${python:Provides}
XB-Python-Version: ${python:Verions}
Description: Python bindings for zephyr library
 Get at the zephyr library from python.

Package: zephyr-clients
Section: net
Replaces: zephyr-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debianutils (>= 1.6), debconf | debconf-2.0
Description: Project Athena's notification service - client programs
 Zephyr is derived from the original Project Athena 'Instant Message' system
 and allows users to send messages to other users or to groups of users.
 Users can view incoming Zephyr messages as windowgrams (transient X
 windows) or as text on a terminal.
 .
 This package provides client programs for the messaging service.

Package: zephyr-server
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf | debconf-2.0
Conflicts: zephyr-server-krb, zephyr-server-krb5, zephyr-server-krb45
Description: Project Athena's notification service - non-Kerberos server
 Zephyr is derived from the original Project Athena 'Instant Message' system
 and allows users to send messages to other users or to groups of users.
 Users can view incoming Zephyr messages as windowgrams (transient X
 windows) or as text on a terminal.
 .
 This package provides the server for the messaging service, which
 maintains a location and subscription database for all the receiving
 clients. All zephyrgrams are sent to the server to be routed to the
 intended recipient. Only one server is required for a group of clients.

Package: zephyr-server-krb
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf | debconf-2.0, libzephyr4-krb
Conflicts: zephyr-server, zephyr-server-krb5, zephyr-server-krb45
Replaces: zephyr-server, zephyr-server-krb5, zephyr-server-krb45
Provides: zephyr-server
Description: Project Athena's notification service - server with Kerberos
 Zephyr is derived from the original Project Athena 'Instant Message' system
 and allows users to send messages to other users or to groups of users.
 Users can view incoming Zephyr messages as windowgrams (transient X
 windows) or as text on a terminal.
 .
 This package provides the server for the messaging service. Only one
 server is needed for a group of client. The program consumes much memory,
 especially for very large sites.
 .
 The server maintains a location and subscription database for all the
 receiving clients. All zephyrgrams are sent to the server to be routed
 to the intended recipient.
 .
 This version of the server uses Kerberos.

Package: zephyr-server-krb5
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf | debconf-2.0, libzephyr4-krb5
Conflicts: zephyr-server, zephyr-server-krb, zephyr-server-krb45
Replaces: zephyr-server, zephyr-server-krb, zephyr-server-krb45
Provides: zephyr-server
Description: The original "Instant Message" system-server with Kerberos 5
 You probably only need one server for a group of clients.
 This can be a memory-intensive server, especially for very large sites.
 .
 The server maintains a location and subscription database for all the
 receiving clients. All zephyrgrams are sent to the server to be routed
 to the intended recipient.
 .
 This version of the server uses Kerberos for message authentication.
 .
 This is the Project Athena Zephyr notification system.
 Zephyr allows users to send messages to other users or to groups of
 users.  Users can view incoming Zephyr messages as windowgrams
 (transient X windows) or as text on a terminal.

Package: zephyr-server-krb45
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf | debconf-2.0, libzephyr4-krb45
Conflicts: zephyr-server, zephyr-server-krb, zephyr-server-krb5
Replaces: zephyr-server, zephyr-server-krb, zephyr-server-krb5
Provides: zephyr-server
Description: The original "Instant Message" system-server with Kerberos 4+5
 You probably only need one server for a group of clients.
 This can be a memory-intensive server, especially for very large sites.
 .
 The server maintains a location and subscription database for all the
 receiving clients. All zephyrgrams are sent to the server to be routed
 to the intended recipient.
 .
 This version of the server uses Kerberos for message authentication.
 .
 This is the Project Athena Zephyr notification system.
 Zephyr allows users to send messages to other users or to groups of
 users.  Users can view incoming Zephyr messages as windowgrams
 (transient X windows) or as text on a terminal.

Package: libzephyr-dev
Section: libdevel
Architecture: any
Depends: libzephyr4 (= ${binary:Version}) | libzephyr4-krb (= ${binary:Version}) | libzephyr4-krb5 (= ${binary:Version}) | libzephyr4-krb45 (= ${binary:Version}), ${misc:Depends}, libc6-dev
Description: Project Athena's notification service - development files
 Zephyr is derived from the original Project Athena 'Instant Message' system
 and allows users to send messages to other users or to groups of users.
 Users can view incoming Zephyr messages as windowgrams (transient X
 windows) or as text on a terminal.
 .
 This package provides development libraries and files, which are
 needed to compile alternative Zephyr clients.
