#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# GNU copyright 1997 by Joey Hess.
#
# This version is for a hypothetical package that builds an
# architecture-dependant package, as well as an architecture-independent
# package.

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3

# This has to be exported to make some magic below work.
export DH_OPTIONS
SONAME=3
CONFIGURE_ROOT=--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info --sysconfdir=/etc --datadir=/etc  --with-ares=/usr


configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	-mkdir krb
	cd krb&&../configure --with-krb4=/usr $(CONFIGURE_ROOT)
	-mkdir no-krb
	cd no-krb&&../configure $(CONFIGURE_ROOT)
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	set -e; \
	for dir in krb no-krb ; do  \
		cd $$dir; \
	rm -f lib/zephyr/*.o || true; \
		$(MAKE) -C lib			\
		 FPIC= 					\
		 LIBEXT=a; \
		rm -f lib/zephyr/*.o; \
		$(MAKE) LIBEXT=so \
			FPIC=-fpic SONAME=$(SONAME); \
		cd ..; \
		done

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	-rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-rm -rf krb no-krb debian/tmp-krb
	-rm debian/zephyr-server-krb.*
	-rm debian/libzephyr3-krb.files

	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	-rm -rf debian/tmp-krb
	dh_installdirs

	# Add here commands to install the package into debian/tmp.
	cd no-krb&&$(MAKE) install DESTDIR=`pwd`/../debian/tmp
	cd krb&&$(MAKE)  DESTDIR=`pwd`/../debian/tmp-krb install
	mv debian/tmp/usr/lib/libzephyr.so debian/tmp/usr/lib/libzephyr.so.$(SONAME)
	ln -s libzephyr.so.$(SONAME) debian/tmp/usr/lib/libzephyr.so
		mv debian/tmp-krb/usr/lib/libzephyr.so debian/tmp-krb/usr/lib/libzephyr.so.$(SONAME)
	ln -s libzephyr.so.$(SONAME) debian/tmp-krb/usr/lib/libzephyr.so
	mkdir -p debian/tmp/etc/zephyr/acl
	set -x; for i in debian/acl/*; do install -c -m 644 -o root $$i debian/tmp/etc/zephyr/acl; done; set +x
	install -c -m 644 debian/zephyr.vars debian/tmp/etc/zephyr
	cp -pr debian/tmp/etc/zephyr/acl debian/tmp-krb/etc/zephyr

# Build architecture-independent files here.
# Pass -i to all debhelper commands in this target to reduce clutter.
binary-indep: build install

# Build architecture-dependent files here.
# Pass -a to all debhelper commands in this target to reduce clutter.
binary-arch: build install
	dh_testdir
	dh_testroot
	set -e; \
	for file  in  files init templates config postinst; do \
		cp debian/zephyr-server.$$file debian/zephyr-server-krb.$$file; \
		done
	cp debian/libzephyr3.files debian/libzephyr3-krb.files
	dh_movefiles  -plibzephyr3 -pzephyr-clients -pzephyr-server -pzephyr-de
	dh_movefiles --sourcedir=debian/tmp-krb -plibzephyr3-krb -pzephyr-server-krb
	dh_installdebconf 
	dh_installdocs
#	dh_installexamples
#	dh_installmenu
#	dh_installemacsen
#	dh_installpam
	dh_installinit -pzephyr-clients --init-script=zhm
	dh_installinit -pzephyr-server-krb --init-script=zephyrd
	dh_installinit -pzephyr-server --init-script=zephyrd
#	dh_installcron
#	dh_installmanpages
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs 
	dh_strip
#	dh_link
	dh_compress
	dh_fixperms
	# You may want to make some executables suid here.
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
#	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install configure


