#!/bin/sh -e

. /usr/share/debconf/confmodule
db_version 2.0

db_get zephyr-clients/servers || true
if test -z "$RET"
then
	# if there happens to be a zephyr server running on this machine,
        # see what its debconf knows about zephyr servers...
	if db_get zephyr-server/servers && -n "$RET"
	then
		db_set zephyr-clients/servers $RET
	fi
fi

db_get zephyr-clients/read_conf 
if test -f /etc/default/zephyr-clients -a \( "$RET" = true \)
then
	zhm_args=""
	. /etc/default/zephyr-client
	if test -n "$zhm_args"
	then
		db_set zephyr-clients/read_conf false
		db_set zephyr-clients/servers "$zhm_args"
	fi
fi

db_input high zephyr-clients/servers || true
db_go
