#!/bin/sh -e

. /usr/share/debconf/confmodule
db_version 2.0

db_get zephyr-clients/servers || true
if test -z "$RET"
then
	# If there's an /etc/zephyr/server.list file lying around, read it
	if test -f /etc/zephyr/server.list
	then
		z="`cat /etc/zephyr/server.list`"
	
		if test -n "$z"
		then
		    db_set zephyr-clients/servers "`echo $z`"
		fi
	else
		# if there happens to be zephyr server decconf on this machine,
		# see what its debconf knows about zephyr servers...
		if db_get zephyr-server/servers && test -n "$RET"
		then
			db_set zephyr-clients/servers $RET
		fi
	fi
fi

db_get zephyr-clients/read_conf 
if test -f /etc/default/zephyr-clients -a \( "$RET" = true \)
then
	zhm_args=""
	. /etc/default/zephyr-clients
	if test -n "$zhm_args"
	then
		db_set zephyr-clients/read_conf false
		db_set zephyr-clients/servers "$zhm_args"
	fi
fi

db_input high zephyr-clients/servers || true

db_go || true
