#!/bin/sh -e

. /usr/share/debconf/confmodule
db_version 2.0

db_get zephyr-server/read_conf
if test -f /etc/zephyr/server.list -a \( "$RET" = true \)
then
	z="`cat /etc/zephyr/server.list`"
	
	if test -n "$z"
	then
		db_set zephyr-server/read_conf false
		db_set zephyr-server/servers "`echo $z`"
	fi
fi

db_get zephyr-server/servers || true
if test -z "$RET"
then
	# if there happens to be zephyr-clients running on this machine
	# it might know something about servers.
	# else default to just the current host
	z="`hostname --fqdn`"
	if db_get zephyr-clients/servers && test -n "$RET" && ! echo "$RET" | grep -q "$z"
	then
		z="$RET $z"
	fi
	db_set zephyr-server/servers "$z"
fi

db_input high zephyr-server/servers || true
db_go || true
